@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-family: 'Roboto Slab', serif;
  font-family: 'Fredericka the Great', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

